html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow-y: auto;
}

.main > div {
    position: relative;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 20px;
    border: 1px solid rgb(24, 60, 170);
    background-color: hsla(0, 0%, 100%, 0.9);
}


.section {
    position: relative;
    background-color: hsla(285, 100%, 80%, 0.891);
    width: 100%;
    max-width: 1200px;
    border: 1px solid rgb(126, 33, 33);
    padding: 20px;
    margin: 20px;
}

.hidden {
    display: none;
}

.colored {
    background-color: #f4f4f4;
}