html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.section {
    background-color: hsla(208, 100%, 97%, 0.621);
    width: 100%;
    max-width: 1200px;
}
